SDV701Project2/AdminApp/Service References/ServiceReference1/Service14.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Gallery3SelfHost.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Gallery3SelfHost.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="clsArtist">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Speciality" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Works" nillable="true" type="tns:ArrayOfclsWork" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsArtist" nillable="true" type="tns:clsArtist" />
  <xs:complexType name="ArrayOfclsWork">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="clsWork" nillable="true" type="tns:clsWork" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfclsWork" nillable="true" type="tns:ArrayOfclsWork" />
  <xs:complexType name="clsWork">
    <xs:sequence>
      <xs:element minOccurs="0" name="ArtistName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsWork" nillable="true" type="tns:clsWork" />
  <xs:complexType name="clsPainting">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:clsWork">
        <xs:sequence>
          <xs:element minOccurs="0" name="Height" nillable="true" type="xs:float" />
          <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Width" nillable="true" type="xs:float" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="clsPainting" nillable="true" type="tns:clsPainting" />
  <xs:complexType name="clsPhotograph">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:clsWork">
        <xs:sequence>
          <xs:element minOccurs="0" name="Height" nillable="true" type="xs:float" />
          <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Width" nillable="true" type="xs:float" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="clsPhotograph" nillable="true" type="tns:clsPhotograph" />
  <xs:complexType name="clsSculpture">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:clsWork">
        <xs:sequence>
          <xs:element minOccurs="0" name="Material" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Weight" nillable="true" type="xs:float" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="clsSculpture" nillable="true" type="tns:clsSculpture" />
</xs:schema>