SDV701Project2/AdminApp/Service References/ServiceReference1/Service11.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:60064/Service1?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:60064/Service1?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:60064/Service1?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:60064/Service1?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Gallery3SelfHost.DTO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetArtistNames_InputMessage">
    <wsdl:part name="parameters" element="tns:GetArtistNames" />
  </wsdl:message>
  <wsdl:message name="IService1_GetArtistNames_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetArtistNamesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetArtist_InputMessage">
    <wsdl:part name="parameters" element="tns:GetArtist" />
  </wsdl:message>
  <wsdl:message name="IService1_GetArtist_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetArtistResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateArtist_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateArtist" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateArtist_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateArtistResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertArtist_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertArtist" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertArtist_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertArtistResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteArtist_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteArtist" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteArtist_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteArtistResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertWork_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertWork" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateWork_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateWork" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteWork" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteWorkResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetArtistNames">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetArtistNames" message="tns:IService1_GetArtistNames_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetArtistNamesResponse" message="tns:IService1_GetArtistNames_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetArtist">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetArtist" message="tns:IService1_GetArtist_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetArtistResponse" message="tns:IService1_GetArtist_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateArtist">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdateArtist" message="tns:IService1_UpdateArtist_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateArtistResponse" message="tns:IService1_UpdateArtist_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertArtist">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/InsertArtist" message="tns:IService1_InsertArtist_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/InsertArtistResponse" message="tns:IService1_InsertArtist_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteArtist">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteArtist" message="tns:IService1_DeleteArtist_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteArtistResponse" message="tns:IService1_DeleteArtist_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/InsertWork" message="tns:IService1_InsertWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/InsertWorkResponse" message="tns:IService1_InsertWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdateWork" message="tns:IService1_UpdateWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateWorkResponse" message="tns:IService1_UpdateWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteWork" message="tns:IService1_DeleteWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteWorkResponse" message="tns:IService1_DeleteWork_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetArtistNames">
      <soap:operation soapAction="http://tempuri.org/IService1/GetArtistNames" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetArtist">
      <soap:operation soapAction="http://tempuri.org/IService1/GetArtist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateArtist">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdateArtist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertArtist">
      <soap:operation soapAction="http://tempuri.org/IService1/InsertArtist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteArtist">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteArtist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertWork">
      <soap:operation soapAction="http://tempuri.org/IService1/InsertWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateWork">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdateWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteWork">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:60064/Service1" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>