SDV701Project2/AdminApp/Service References/ServiceReference1/Service141.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:60064/Service1?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:60064/Service1?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Gallery3SelfHost.DTO" />
  <xs:element name="GetArtistNames">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArtistNamesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetArtistNamesResult" nillable="true" type="q1:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArtist">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="prArtistName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArtistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Gallery3SelfHost.DTO" minOccurs="0" name="GetArtistResult" nillable="true" type="q2:clsArtist" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateArtist">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Gallery3SelfHost.DTO" minOccurs="0" name="prArtist" nillable="true" type="q3:clsArtist" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateArtistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateArtistResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertArtist">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Gallery3SelfHost.DTO" minOccurs="0" name="prArtist" nillable="true" type="q4:clsArtist" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertArtistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertArtistResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteArtist">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Gallery3SelfHost.DTO" minOccurs="0" name="prArtist" nillable="true" type="q5:clsArtist" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteArtistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteArtistResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertWork">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Gallery3SelfHost.DTO" minOccurs="0" name="prWork" nillable="true" type="q6:clsWork" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertWorkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertWorkResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateWork">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Gallery3SelfHost.DTO" minOccurs="0" name="prWork" nillable="true" type="q7:clsWork" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateWorkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateWorkResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteWork">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Gallery3SelfHost.DTO" minOccurs="0" name="prWork" nillable="true" type="q8:clsWork" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteWorkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteWorkResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>